body {
    background-color: #002C7C;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Optional for full viewport height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Optional for horizontal centering */
  }